












<nav class="navbar bg-body-tertiary">
  <div class="container-fluid justify-content-center justify-content-md-between">
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0">
      <img src="/img/image.png" alt="error">
      <span>L</span>
      <span>a</span>
      <span>z</span>
      <sup style="font-size: 22px; color: rgb(12, 113, 214);">
        <span>h</span>
        <span>h</span>
      </sup>
      <span>a</span>
      <span>r</span>
    </a>

    <form action="/search" method="post" class="d-flex" role="search">
      <input class="form-control me-2" name="searchText" type="search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
  </div>
</nav>
